*{
    margin: 0px;
    padding: 0px;
}

#home-section{
    margin-bottom: 30px;
}

.home-container{
    height: 100vh; 
    background-image: url(./image1.png);
    background-position: center;
    color: white;
}

.home-container p{
    text-align: center;
    padding: 10px 0px;
    font-size: 50px;
    font-weight: 54px;
}

.header{
    display: flex;
    padding: 20px 0px;
}

.header-container{
    display: flex;
    justify-content: center;
}
.header-container1{
    width: 20%;
}

.header-container2{
    width: 60%;
}

.header-container3{
    width: 20%;
}
.header-container3 button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: .5px solid white;
    border-radius: 15px;
}

.form-container{
    display: flex;
    justify-content: center;
}

.form{
    margin-top: -50px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.input{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.input p{
    font-size: 15px;
    padding: 7px 0px;
}

.input input{
    padding: 10px;
    border: 1.5px solid gray;
    border-radius: 5px;
}

.input button{
    padding: 3px 0px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    border: none;
}

.input .input-container input{
    padding-left: 25px;
}
 
.input .input-container i{
    margin-top: -14%;
    padding: 0px 7px;
}

#brand-section, #car-collection{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
#body-type-section{
    justify-content: center;
    margin: 40px 0px;
    padding: 50px 60px;
}


.brand-section-container{
    width: 90%;
}

.body-type-section-container, .collection-container{
    width: 99%;
}



.brand-section-heading{
    display: flex;
}
.body-type-section-heading{
    display: inline;
}

.brand-section-button{
    width: 90%;
    display: flex;
    justify-content: end;
}
.body-type-section-button{
    display: flex;
    width: 99%;
    justify-content: end;
}

.brand-section-button a, .body-type-section-button a{
    text-decoration: none;
    color: black;
}

.brand-content1, .body-type-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand-content, .body-type-content{
    width: 15%;
    height: 100px;
    background-color: #E5E4E2;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand, .body-type, .collection-container{
    text-align: center;
}

#car-collection{
    background-color: #E5E5E5;
    width: 100%;
    padding-bottom: 100px;
}

.collection-header h1{
    padding: 10px 15px;
    margin-top: 40px;
    font-weight: 800;
    font-size: xx-large;
}
.collection-header p{
    padding: 15px 0px;
    margin-bottom: 20px;
}

.collection-header ul li a{
    text-decoration: none;
    color: black;
}


.collection-header ul li {
    display: inline;
    background-color: white;
    padding: 10px 15px;
    margin: 10px 10px;
    border-radius: 40px;
    
}

.car-in-collection{
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 50px;
}

.car-image, .details-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.car-card .car-image img{
    width: 95%;
    height: auto;
}

.car-card{
    background-color: white;
    color: black;
    margin: 0px 25px;
    border-radius: 20px;
}

.num{
      margin-left: -210px;
}

.car-details{
    margin-left: 10px;
    padding-left: 10px;
}

.car-details h1{
    padding:  7px 0px;
}

.car-details h1 sub{
    font-weight: 100;
    color: gray;
}

.details-container{
    background-color: #E5E4E2;
    width: 90%;
    height: 80px;
    display: flex;
    border-radius: 15px;
}

.detail{
    padding: 20px 10px;
}

.rent{
    width: 89%;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    margin: 25px 20px;
    padding: 15px 20px;
    background-color: transparent;
}

.rent2{
    background-color: black;
    color: white;
}

.see-more{
    justify-content: center;
    padding: 10px 30px;
    margin-top: 60px ;
    background-color: black;
    color: white;
    border: none ;
    border-radius: 20px;
}